# Dependencies
node_modules/
.venv/
env/
venv/

# Build artifacts
dist/
build/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Environment and secrets
.env
.env.local
.DS_Store
Thumbs.db
